<a href="https://colab.research.google.com/github/y00nsun/milk-quality-prediction/blob/main/gradient_boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Data Loading
import numpy as np
import pandas as pd

df = pd.read_csv('/content/milknew.csv')
df

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
3     9.5          34      1     1     0          1     255     low
4     6.6          37      0     0     0          0     255  medium
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[1059 rows x 8 columns]

In [ ]:
# Data Exploratory
df.shape

(1059, 8)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1059 entries, 0 to 1058
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   pH          1059 non-null   float64
 1   Temprature  1059 non-null   int64
 2   Taste       1059 non-null   int64
 3   Odor        1059 non-null   int64
 4   Fat         1059 non-null   int64
 5   Turbidity   1059 non-null   int64
 6   Colour      1059 non-null   int64
 7   Grade       1059 non-null   object
dtypes: float64(1), int64(6), object(1)
memory usage: 66.3+ KB

In [ ]:
df.isna().sum()

pH            0
Temprature    0
Taste         0
Odor          0
Fat           0
Turbidity     0
Colour        0
Grade         0
dtype: int64

In [ ]:
df['Grade'].value_counts()

low       429
medium    374
high      256
Name: Grade, dtype: int64

In [ ]:
df.describe().T

             count        mean        std    min    25%    50%    75%    max
pH          1059.0    6.630123   1.399679    3.0    6.5    6.7    6.8    9.5
Temprature  1059.0   44.226629  10.098364   34.0   38.0   41.0   45.0   90.0
Taste       1059.0    0.546742   0.498046    0.0    0.0    1.0    1.0    1.0
Odor        1059.0    0.432483   0.495655    0.0    0.0    0.0    1.0    1.0
Fat         1059.0    0.671388   0.469930    0.0    0.0    1.0    1.0    1.0
Turbidity   1059.0    0.491029   0.500156    0.0    0.0    0.0    1.0    1.0
Colour      1059.0  251.840415   4.307424  240.0  250.0  255.0  255.0  255.0

In [ ]:
# Data Preparation
data = df.drop('Grade', axis = 1)
target = df['Grade']

from sklearn.model_selection import train_test_split
train_input, test_input, train_target, test_target = train_test_split(data, target, test_size = 0.30, random_state = 0)

In [ ]:
# Random Forest
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier()
scores = cross_validate(rf, train_input, train_target, return_train_score=True, n_jobs=-1)

print("Training Accuracy : ", np.mean(scores['train_score']))
print("Training Accuracy : ", np.mean(scores['test_score']))

Training Accuracy :  1.0
Training Accuracy :  1.0

In [ ]:
# Gradient Boosting

from sklearn.ensemble import GradientBoostingClassifier
from sklearn.model_selection import cross_validate

gb = GradientBoostingClassifier(n_estimators=50, learning_rate=0.3)
#gb.fit(train_input, train_target)

In [ ]:
scores = cross_validate(gb, train_input, train_target, return_train_score=True, n_jobs=-1)
print("Training Accuracy : ", np.mean(scores['train_score']))
print("Test Accuracy : ", np.mean(scores['test_score']))

NameError: ignored

In [ ]:
print("Training Accuracy : ", gb.score(train_input, train_target))
print("Test Accuracy : ", gb.score(test_input, test_target))

Training Accuracy :  1.0
Test Accuracy :  0.9905660377358491

In [ ]:
# Ansemble Report
from sklearn import metrics
y_pred_gb = gb.predict(x_test)
print(metrics.classification_report(y_test, y_pred_gb))

NameError: ignored